@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "WDXL Lubrifont TC", sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  user-select: none;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
   url(img/bg-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.date-con{
    margin-bottom: 10px;
}

.date-con span{
    font-weight: 500;
    font-size: 25px;
}

.time-con span{
    font-weight: 500;
    font-size: 60px;
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}